VuforiaUnityConnectTest/Builds/ios7/Libraries/libiPhone-lib.a
VuforiaUnityConnectTest/Builds/ios7/Libraries/libil2cpp.a
VuforiaUnityConnectTest/Builds/ios2/Libraries/libiPhone-lib.a
VuforiaUnityConnectTest/Builds/ios5/Libraries/libiPhone-lib.a
VuforiaUnityConnectTest/Assets/SamplesResources/AugmentationAssets/Models/Astronaut.FBX
VuforiaUnityConnectTest/Builds/ios2/Libraries/libil2cpp.a
VuforiaUnityConnectTest/Builds/ios5/Libraries/libil2cpp.a
VuforiaUnityConnectTest/Builds/ios6/Libraries/libil2cpp.a
VuforiaUnityConnectTest/Builds/ios6/Libraries/libiPhone-lib.a
VuforiaUnityConnectTest/Builds/ios8/Libraries/libiPhone-lib.a
VuforiaUnityConnectTest/Builds/ios9/Libraries/libiPhone-lib.a
VuforiaUnityConnectTest/Builds/ios10/Libraries/libiPhone-lib.a
VuforiaUnityConnectTest/Builds/ios8/Libraries/libil2cpp.a
VuforiaUnityConnectTest/Builds/ios9/Libraries/libil2cpp.a
VuforiaUnityConnectTest/Builds/ios10/Libraries/libil2cpp.a
